html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset End */

* {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(142, 202, 230);
}

#boardWrapper {
    display: grid;
    place-items: center;
    height: 75vh;
}

#gameBoard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.square {
    border: 2px solid #FB8500;
    font-size: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
}

.square:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

#winPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #023047;
    width: 400px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.6);

    color: white;
    font-weight: bold;
    font-size: 2em;
}

#playAgain {
    margin-top: 25px;
    position: relative;
    bottom: -15px;
    padding: 10px 20px;
    background-color: #FB8500;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.6);
}

#playAgain:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

header {
    background-color: #023047;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    color: white;
}

footer {
    background-color: #023047;
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer>p,
footer>p>span {
    font-size: 12px;
}

#logo {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.fade {
    opacity: 0.2;
}

#winPopup.hidden {
    display: none;
}